<h4>Area de Manutenção</h4>

<div class="card mt-4">
    <div class="card-body">
        <h5>Modificar-Postagens</h5>
        <a href="/admin/postagens"><button class="btn btn-success">Postagens</button></a>
    </div>
</div>
<div class="card mt-4">
    <div class="card-body">
        <h5>Modificar-Categorias</h5>
        <a href="/admin/categorias"><button class="btn btn-success">Categorias</button></a>
    </div>
</div>